name: Release
on:
  push:
    branches:
      - 'main'

jobs:
  unit-tests:
    name: unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Use ssh
        uses: webfactory/ssh-agent@v0.6.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
  
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: './go.mod'

      - name: Lint
        run: |
          make lint

      - name: Test
        run: |
          make test

  build:
    runs-on: ubuntu-latest
    needs:
      - unit-tests
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: '0'

      - name: Get Next Version
        id: semver
        uses: ietf-tools/semver-action@v1
        with:
          token: ${{ github.token }}
          branch: main

      - name: Create tag
        run: git tag ${{ steps.semver.outputs.next }}

      - name: Push tag
        run: git push --tags

      - name: Release
        run: gh release create ${{ steps.semver.outputs.next }} --generate-notes
        env:
          GH_TOKEN: ${{ github.token }}